In [70]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle

In [59]:
music_data = pd.read_csv("music.csv")
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [60]:
music_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     18 non-null     int64
 1   gender  18 non-null     int64
 2   genre   18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [61]:
X = music_data.drop(columns=["genre"])
y = music_data["genre"]

In [62]:
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=.2,random_state=42)

In [63]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [64]:
pred = model.predict(X_test)

In [65]:
score = accuracy_score(y_test,pred)
score

1.0

In [66]:
X_test

   age  gender
0   20       1
1   23       1
8   37       1
5   30       1

In [71]:
# saving the model
pickle.dump(model, open("music_recommender", 'wb'))

In [72]:
# load the model
loaded_model = pickle.load(open('music_recommender', 'rb'))
loaded_model.score(X_test,y_test)

1.0